@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px  => 10px/16px = 62.5%
  color: #fff;
}

html {
  font-family: "Poppins", sans-serif;
}
