body {
  background-image: url("./../images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  background-size: cover;
  background-position: center center;

  // overflow: hidden;
}
.container {
  display: flex;

  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  min-width: 12rem; // 1200px;
  min-height: 100vh;

  padding: 2rem;

  margin: 0 auto;

  @include respond(phone) {
    flex-direction: column;
  }
}

.container > div {
  flex: 1;
  padding: 0 2rem;

  @include respond(phone) {
    padding: 0;
  }
}

.left {
  @include respond(phone) {
    margin-bottom: 2.5rem;
  }
  &__title {
    font-size: 3.5rem; // 40px
    line-height: 4rem; // 50px
    margin-bottom: 2rem;

    @include respond(tab-land) {
      font-size: 3rem;
      line-height: 3rem;
      margin-bottom: 1.5rem;
    }
    @include respond(phone) {
      font-size: 2rem;
      line-height: 2.5rem;
      text-align: center;
    }
  }

  &__resumen {
    font-size: 0.9rem;
    opacity: 0.8;

    @include respond(phone) {
      text-align: center;
    }
  }
}

.box {
  box-shadow: 0px 7px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 0.5rem; // 5px
  padding: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;

  @include respond(phone) {
    padding: 1.3rem;
  }

  &-blue {
    // margin: 0;
    background-color: hsl(248, 32%, 49%);
    padding: 1rem;
  }

  &-title {
    margin: 0;
    font-size: 1.1rem;

    @include respond(phone) {
      font-size: 0.8rem;
    }
  }
}

.form-control {
  position: relative;
  margin-bottom: 2rem; // 30px;
}

.form-control small {
  color: hsl(0, 100%, 74%);
  position: absolute;

  text-align: right;
  font-weight: 600;

  bottom: -1.6rem;
  right: 0;
  opacity: 0;
  // display: none;

  @include respond(phone) {
    font-size: 0.7rem;
  }
}

.form-control img {
  opacity: 0;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);

  @include respond(phone) {
    height: 1.5rem;
  }
}

.form-control.error img {
  opacity: 1;
}

.form-control.error input {
  border-color: hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}

.form-control.error input::placeholder {
  color: hsl(0, 100%, 74%);
}

.form-control small {
  opacity: 0;
}
.form-control.error small {
  opacity: 1;
}

input {
  display: block;
  width: 100%;

  border-radius: 0.5rem; // 5px
  border: 1.3px solid hsl(246, 25%, 77%);

  padding: 1rem 2rem; // 15px 25px

  font-weight: 500;
  font-size: 1rem;
  font-family: inherit;

  @include respond(phone) {
    font-size: 0.9rem;
    padding: 0.9rem 1.5rem; // 9px 15px
  }

  &:focus {
    border: 1.3px solid hsl(248, 32%, 49%);
    outline: none;
  }
}

button {
  background-color: hsl(154, 59%, 51%);
  display: block;
  width: 100%;

  border-radius: 0.5rem; // 5px
  border: 1px solid hsl(154, 59%, 45%);
  // border-bottom-width: 3px;

  padding: 1rem 2rem; // 15px 25px

  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  font-family: inherit;
  letter-spacing: 0.1rem; // 1px;
  color: #fff;

  cursor: pointer;

  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);

  transition: all 0.2s;

  @include respond(phone) {
    font-size: 0.8rem;
  }

  &:focus {
    outline: none;
  }
  &:active {
    // border-bottom-width: 1px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
  &:hover {
    background-color: hsl(154, 45%, 47%);
  }
}

small {
  display: block;

  font-size: 0.8rem;
  font-weight: 500;
  color: #bbb;

  margin-top: 1.2rem;

  @include respond(phone) {
    font-size: 0.7rem;
  }

  & a {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    text-decoration: none;
  }
}
