body {
  line-height: 1.7;
}

.heading-primary {
  display: inline-block;
  &--main {
    font-family: "Josefin Sans", sans-serif;
    font-size: 7rem;
    font-weight: 300;
    max-width: 60rem;
    line-height: 0.89;
    padding: 3rem;
    border: 1px solid hsl(0, 0%, 100%);
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
  }

}
// h2
.heading-secondary {
  font-size: 4rem;
  font-weight: 300;
  //  font-family: inherit;
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1rem;

  @include respond(phone) {
    line-height: 1.2;
    letter-spacing: 0.4rem;
  }
}
// h3
.heading-tertiary {
  font-weight: 300;
  font-size: 4rem;
  line-height: 1;
  display: inline-block;
  color: hsl(0, 0%, 100%);

  font-family: "Josefin Sans", sans-serif;
}

.paragraph {
  font-size: 1.6rem;
  color: hsl(0, 0%, 55%);

  &--light {
    color: hsl(225, 20%, 60%);
  }
}
