.section-introduction {
  padding: 20rem 0;
}

.introduction {
  display: flex;
  position: relative;

  @include respond(tab-port) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 90%;
    @include respond(tab-port) {
      width: 100%;
    }
  }
  &-right {
    background: white;
    width: 59rem;
    padding: 5rem;
    position: absolute;
    bottom: 0;
    right: -6rem;
    @include respond(tab-land) {
      right: -3rem;
    }
    @include respond(tab-port) {
      right: 0;
      text-align: center;
      position: static;
      width: 70rem;
    }
    @include respond(phone){
      width: 100%;
    }
  }
}
.section-cards {
  padding: 20rem 0;
  margin-top: -8rem;

  @include respond(phone){
    margin-top: -18rem;
  }
}
