main {
  overflow: hidden;
}

.section-introdution {
  padding: 15rem 0;
  //  overflow: hidden;
}
.introdution {
  &__left {
    max-width: 53rem;
    margin-right: 2rem;
    @include respond(tab-port) {
      order: 2;
      margin-top: 1rem;
    }
  }
  &__right {
    width: 62rem;
    position: relative;
    @include respond(tab-port) {
      margin-top: -15rem;
    }
  }
  &__desktop {
    width: 85em;
    margin-left: 15rem;
    @include respond(tab-port) {
      margin-left: 0;
      width: 100%;
    }
  }
}

.section-phones {
  background-image: url("./../../images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 104rem;
  background-position: -22rem -48rem;
  background-color: hsl(237, 17%, 21%);
  border-top-right-radius: 12rem;
  border-bottom-left-radius: 12rem;
}

.phones {
  &__left {
    margin-bottom: -11rem;
    margin-top: -6rem;
    @include respond(tab-port){
      margin-top: -10rem;
    }
  }
  &__right {
    margin-left: 4rem;
    max-width: 60rem;

    @include respond(tab-port){
      margin-top: 10rem;
      margin-left: 0;
      margin-bottom: 7rem;
      text-align: center;
      
    }
  }

  &__image{
    @include respond(phone){
      width: 100%;
    }
  }
}
.section-computer {
}

.computer {
  &__left {
    margin-left: -45rem;
    width: 62rem;

    @include respond(tab-port){
      margin-left: 0;
      margin-top: 5rem;
    }
  }
  &__right {
    max-width: 60rem;
    margin-left: 45rem;

    @include respond(tab-port){
      margin-left: 0;
      text-align: center;
    }
  }

  &__image {
    width: 105rem;

    @include respond(tab-port){
      width: 100%;
    }
  }
}
