body {
  line-height: 1.7;
}

.heading-primary {
  color: white;

  margin-bottom: 1rem;
  display: block;
  font-size: 6rem;
}
.heading-secondary {
  font-family: "Overpass", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
  display: inline-block;

  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-tertiary {
  //  font-size: $default-font-size;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  //  font-size: 1.7;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(208, 49%, 24%);
}

.paragraph {
  //font-size: $default-font-size;
  font-size: 1.6rem;
  color: hsl(207, 13%, 34%);

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
