.cards {
  display: flex;
  justify-content: space-between;
  @include respond(phone) {
    justify-content: center;
  }
}
.card {
  display: inline-block;

  &__list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;

    @include respond(phone) {
      display: block;
      flex-wrap: nowrap;
    }
  }

  &__item {
    margin: 1rem;
    position: relative;

    @include respond(phone) {
      margin: 1rem 0;
    }
  }

  &__text {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    width: 19rem;
  }
  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 25.7rem;
    display: inline-block;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
      @include respond(phone) {
        transform: none;
      }
    }
    @include respond(phone) {
      width: 100%;
      //height: 25rem;
    }
  }
}
