/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-image: linear-gradient(135deg, white, #fff5f5);
  font-family: 'Manrope', sans-serif; }

body {
  line-height: 1.7; }

.heading-primary {
  color: #293356;
  display: flex;
  justify-content: center;
  align-items: center; }
  .heading-primary--main {
    font-size: 4rem;
    font-weight: 800; }
  .heading-primary--sub {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 0.5rem;
    color: #858fad; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 600;
  display: inline-block; }
  .heading-secondary--blueDark {
    color: #293356; }
  .heading-secondary--light {
    color: white; }

.heading-tertiary {
  font-weight: 300;
  font-size: 2rem;
  font-weight: 600; }
  .heading-tertiary--blue {
    color: #858fad; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph--light {
    color: #858fad; }

.flex {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .flex {
      flex-direction: column !important; } }
  .flex-alignCenter {
    align-items: center; }
  .flex-justifyContent {
    justify-content: space-between; }
  .flex-end {
    justify-content: flex-end; }
  @media only screen and (max-width: 37.5em) {
    .flex {
      flex-direction: column;
      align-items: flex-start; } }

.u-center-text {
  text-align: center; }

.u-margin-top-small {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-mediom {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.btn {
  text-decoration: none;
  padding: 1.5rem 5rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  cursor: pointer; }
  .btn--dark {
    background-color: #293356;
    color: white;
    border: 1px solid transparent; }
    .btn--dark:hover {
      background-color: #3c5095; }

.card {
  border-radius: 8px;
  max-width: 70rem;
  margin: 0 auto;
  padding: 6rem;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  position: relative; }

.slider {
  margin-top: 3rem;
  margin-bottom: 4rem;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  background-image: linear-gradient(to right, #a5f3eb calc(var(--value) * 1%), #d3d3d3 0); }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: #10d5c2;
  background-image: url("./../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.slider::-moz-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: #10d5c2;
  background-image: url("./../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

/*.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}*/
.text-box {
  text-align: center; }

.billing *:not(:last-child) {
  margin-right: 1.2rem; }

.discount {
  font-size: 1.4rem;
  background-color: #ff8c6629;
  color: #ff8c66;
  font-weight: 800;
  padding: 0.5rem 1rem;
  border-radius: 10px; }

.info {
  align-items: center; }
  .info__content {
    position: relative; }
    .info__content p {
      position: relative; }
      .info__content p::before {
        width: 11px;
        height: 11px;
        content: " ";
        background-image: url(./../images/icon-check.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -1.9rem;
        top: 1rem; }
    .info__content--text {
      font-size: 1.4rem; }
      .info__content--text:not(:last-of-type) {
        margin-bottom: 0.3rem; }
