.nav {
  &--close {
    background-image: url("./../../images/icon-close.svg");
  }

  &--top {
    @include respond(phone) {
      display: none;
    }
  }

  &__hamburger {
    display: none;

    @include respond(phone) {
      background-image: url("./../../images/icon-hamburger.svg");
      background-size: cover;
      background-repeat: no-repeat;

      display: block;
      cursor: pointer;
      width: 3rem;
      height: 3rem;

      transition: all 0.2s;
      &--close {
        background-image: url("./../../images/icon-close.svg");
      }
    }
  }
  &__list {
    display: flex;
    list-style-type: none;
  }
  &__item {
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
  &__link {
    &:visited,
    &:link {
      /*font-family: "Josefin Sans", sans-serif;
      font-weight: 300;*/
      text-decoration: none;
      font-size: 1.6rem;
      color: hsl(0, 0%, 100%);
    }
  }
}
