/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Barlow", sans-serif; }

body {
  line-height: 1.7; }

.heading-primary {
  display: inline-block; }
  .heading-primary--main {
    font-family: "Fraunces", serif;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 0.95;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: white; }

.heading-secondary {
  font-family: "Fraunces", serif;
  font-size: 4rem;
  font-weight: 900;
  display: inline-block;
  line-height: 1.1; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      line-height: 1.2;
      letter-spacing: 0.4rem; } }

.heading-tertiary {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  font-family: "Fraunces", serif; }
  .heading-tertiary--graphic {
    color: #25564b; }
  .heading-tertiary--photography {
    color: #19536b; }
  .heading-tertiary--testimonials {
    color: #818498;
    letter-spacing: 0.4rem;
    text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  color: #5a636c; }
  .paragraph--graphic {
    color: #25564bb3; }
  .paragraph--photography {
    color: #19536bb3; }

.testimonials__name {
  font-size: 1.8rem;
  font-family: "Fraunces", serif;
  font-weight: 900; }

.testimonials__title {
  font-size: 1.5rem;
  color: #a7abae; }

.wrapper {
  margin: 0 auto;
  max-width: 115rem;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      margin: 0 1.5rem;
      position: relative; } }

.u-center-text {
  text-align: center; }

.u-margin-top-small {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 5rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55rem; }
  .background-1 {
    background-image: url("./../../assets/images/desktop/image-gallery-milkbottles.jpg"); }
    @media only screen and (max-width: 37.5em) {
      .background-1 {
        background-image: url("./../../assets/images/mobile/image-gallery-milkbottles.jpg"); } }
  .background-2 {
    background-image: url("./../../assets/images/desktop/image-gallery-orange.jpg"); }
    @media only screen and (max-width: 37.5em) {
      .background-2 {
        background-image: url("./../../assets/images/mobile/image-gallery-orange.jpg"); } }
  .background-3 {
    background-image: url("./../../assets/images/desktop/image-gallery-cone.jpg"); }
    @media only screen and (max-width: 37.5em) {
      .background-3 {
        background-image: url("./../../assets/images/mobile/image-gallery-cone.jpg"); } }
  .background-4 {
    background-image: url("./../../assets/images/desktop/image-gallery-sugarcubes.jpg"); }
    @media only screen and (max-width: 37.5em) {
      .background-4 {
        background-image: url("./../../assets/images/mobile/image-gallery-sugar-cubes.jpg"); } }

.card {
  max-width: 45rem;
  padding: 5rem 1rem; }
  .card--center {
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 37.5em) {
    .row {
      flex-direction: column;
      align-items: center; } }
  .row--column {
    float: left;
    width: 33.33%;
    min-height: 60rem;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .row--column {
        width: 100%;
        min-height: 40rem; }
        .row--column:not(:last-of-type) {
          margin-bottom: 4rem; } }

.row-1-of-4 {
  float: left;
  width: 25%; }
  @media only screen and (max-width: 37.5em) {
    .row-1-of-4 {
      width: 100%; } }

.logo {
  cursor: pointer;
  z-index: 44; }
  .logo--bottom {
    width: 17rem; }

.social__list {
  display: flex;
  list-style-type: none; }

.social__item:not(:last-of-type) {
  margin-right: 3rem; }

.split {
  height: 60rem;
  width: 50%;
  z-index: 1;
  overflow-x: hidden;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .split {
      padding: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .split {
      width: 100%; } }
  .split--center {
    display: flex;
    justify-content: center;
    align-items: center; }
  .split--bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  .split--left {
    left: 0; }
  .split--right {
    right: 0; }
  .split--background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .split--background-1 {
      background-image: url("./../../assets/images/desktop/image-transform.jpg"); }
    .split--background-2 {
      background-image: url("./../../assets/images/desktop/image-stand-out.jpg"); }
    .split--background-3 {
      background-image: url("./../../assets/images/desktop/image-graphic-design.jpg"); }
    .split--background-4 {
      background-image: url("./../../assets/images/desktop/image-photography.jpg"); }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0;
  background-color: #5ec5b3; }
  .footer__nav {
    margin: 0 auto; }

.header {
  /*max-width: 1600px;
  min-width: 500px;*/
  background-image: url(./../../assets/images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  height: 70rem;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-image: url(./../../assets/images/mobile/image-header.jpg);
      background-attachment: inherit;
      position: relative; } }
  .header__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        height: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0; } }

.nav {
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      height: 100%;
      width: 100%; } }
  .nav--hamburger {
    display: none;
    position: absolute;
    right: 0;
    background-image: url("./../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    z-index: 99999; }
    @media only screen and (max-width: 37.5em) {
      .nav--hamburger {
        display: block; } }
  .nav--top {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .nav--top {
        width: 35rem;
        position: absolute;
        background-color: #fff;
        padding: 4rem 1em;
        margin-top: 7rem;
        right: 0;
        z-index: 888; }
        .nav--top::before {
          content: " ";
          position: absolute;
          right: -1px;
          top: -13px;
          border-bottom: 15px solid #fff;
          border-right: 15px solid transparent;
          border-left: 15px solid transparent;
          border-top: none; } }
    .nav--top--open {
      display: block; }
  .nav__list {
    display: flex;
    list-style-type: none;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .nav__list--top {
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .nav__item:not(:last-of-type) {
    margin-right: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .nav__item--top {
      margin-right: 0 !important;
      margin-bottom: 4rem; } }
  .nav__link {
    font-size: 1.7rem;
    text-decoration: none; }
    .nav__link--top {
      color: white; }
      @media only screen and (max-width: 37.5em) {
        .nav__link--top {
          color: #000; } }
    .nav__link--footer {
      color: #25564b; }
    .nav__link--btn {
      font-family: "Fraunces", serif;
      font-weight: 700;
      padding: 1.3rem 3rem;
      background-color: white;
      color: #000;
      border-radius: 2rem;
      text-transform: uppercase; }

.section-1,
.section-2,
.section-3 {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .section-1,
    .section-2,
    .section-3 {
      flex-direction: column; } }

.section-testimonials {
  padding: 20rem 0; }

.testimonials__photo {
  border-radius: 50%; }

.section-photos {
  height: 55rem; }
  @media only screen and (max-width: 37.5em) {
    .section-photos {
      display: flex;
      flex-direction: column;
      height: 100%; } }
