@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600&display=swap");
// font-family: 'Poppins', sans-serif;
// font-family: 'Open Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 1.25em;

  @include respond(phone) {
    text-align: center;
  }
}
