footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: hsl(244, 38%, 16%);
  padding: 1rem;
  color: #bdc3c7;
  font-size: 1rem;

  @include respond(phone){
    font-size: 0.8rem;
  }

  & a {
    font-weight: 800;
  }

  & a:link {
    color: #2c3e50;
  }
  & a:visited {
    color: #8e44ad;
  }
  & a:hover {
    color: #e74c3c;
  }
}
