.header {
  background-image: url("./../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 39rem;
  &__container {
    max-width: 114rem;
    margin: 0 auto;

    padding: 3rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    cursor: pointer;
    height: 3rem;
  }
}
