.footer {
  background-color: hsl(240, 10%, 16%);

  border-top-right-radius: 12rem;
  &__container {
    max-width: 114rem;

    padding: 15rem 5rem;
    display: flex;
    justify-content: space-around;
    //justify-content: space-evenly;
    font-size: 1.4rem;
    margin: 0 auto;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    @include respond(phone) {
      height: 100vh;
    }
  }

  & div:last-child {
    //    margin-right: 17rem;
    /*@include respond(tab-port) {
      margin-right: 0 !important;
    }
    @include respond(big-desktop) {
      margin-right: 0 !important;
    }*/
  }

  @include respond(tab-port) {
    & div:not(:last-of-type) {
      margin-bottom: 2.5rem;
    }
  }

  &__list {
    list-style-type: none;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      color: hsl(240, 2%, 79%);
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid hsl(240, 2%, 79%);
      }
    }
  }
}
