.navMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 11rem;
  padding: 0 5rem;
  position: relative;

  @include respond(tab-lines) {
    display: none;
  }

  &__btn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: hsl(208, 49%, 24%);
    font-weight: 600;
    font-size: 1.7rem;
  }

  &__arrow {
  }

  &__card {
    position: fixed;
    z-index: 999999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    width: 100%;
    max-width: 50rem;
    min-height: 40rem;
    border-radius: 6px;

    //    display: flex;
    display: none;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  &__dropdown {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
    &--content {
      display: none;
      background: hsl(240, 2%, 79%);
      padding: 1rem;
      flex-direction: column;
      border-radius: 6px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  }

  &__logo {
    cursor: pointer;
  }
  &__lines {
    position: fixed;
    z-index: 888888;
    cursor: pointer;
    background: hsl(237, 23%, 32%);
    right: 5rem;
    padding: 2rem;
    border-radius: 5px;

    background-image: url("./../../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s;
  }
}

.active {
  display: flex;
}

.close {
  background-image: url("./../../images/icon-close.svg");
}

.backgroundDark {
  display: none;
  position: fixed;
  background-color: #7a8085;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  opacity: 0.7;
}
.backgroundDark--active{
  display: block;
}
