/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-image: linear-gradient(135deg, white, #fff5f5);
  font-family: "Commissioner", sans-serif; }

body {
  line-height: 1.7; }

.heading-primary {
  color: white;
  margin-bottom: 1rem;
  display: block;
  font-size: 6rem; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 600;
  display: inline-block;
  backface-visibility: hidden; }
  .heading-secondary--blueDark {
    color: #1f3f5b; }
  .heading-secondary--light {
    color: white; }

.heading-tertiary {
  font-weight: 300;
  font-size: 2rem;
  font-weight: 700; }
  .heading-tertiary--dark {
    color: #1f3f5b; }
  .heading-tertiary--light {
    color: white; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph--light {
    color: white; }
  .paragraph--gray {
    color: #7a7a7a; }
  .paragraph--darkMediom {
    color: #4b5862; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .flex {
      flex-direction: column;
      align-items: flex-start; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-mediom {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.section-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem; }

.btn {
  text-decoration: none;
  padding: 1.5rem 5rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  cursor: pointer; }
  .btn--moderate {
    background-color: #3cb4ac;
    color: white;
    border: 1px solid transparent; }
    .btn--moderate:hover {
      background-color: #147b74;
      /*background: hsl(356, 100%, 66%);
      color: hsl(0, 0%, 100%);
      border: 1px solid hsl(0, 0%, 100%);*/ }
  .btn--gray {
    background-color: #7a7a7a; }

.btnBookmark {
  position: relative;
  display: flex;
  align-items: center;
  /*@include respond(phone){
    display: none;
  }*/ }
  @media only screen and (max-width: 37.5em) {
    .btnBookmark--text {
      display: none; } }
  .btnBookmark--icon {
    position: absolute;
    z-index: 1;
    height: 5rem;
    margin-left: -1rem;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .btnBookmark--icon {
        position: initial;
        margin-left: 0; } }

.card {
  border-radius: 8px;
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  position: relative; }
  .card__logo {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__top {
    margin-top: -10rem; }
  .card__sub {
    padding: 2rem;
    border: 1px solid #7a7a7a;
    border-radius: 8px; }
    .card__sub:not(:last-of-type) {
      margin-bottom: 2rem; }
    .card__sub--title {
      margin-bottom: 1rem; }
      .card__sub--title p {
        font-size: 1.5rem;
        color: #147b74; }
        @media only screen and (max-width: 37.5em) {
          .card__sub--title p {
            margin-top: -0.5rem; } }
    .card__sub--left {
      font-size: 1.9rem;
      font-weight: 400;
      color: #7a7a7a;
      margin-left: 0.4rem; }

.header {
  background-image: url("./../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 39rem; }
  .header__container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    cursor: pointer;
    height: 3rem; }

.nav {
  display: flex; }
  .nav__link {
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    color: white; }
    .nav__link:hover {
      font-weight: 700; }
    .nav__link:not(:last-of-type) {
      margin-right: 3.5rem; }

main {
  padding: 4rem; }
  @media only screen and (max-width: 56.25em) {
    main {
      padding: 2rem; } }

.price {
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .price {
      flex-direction: column;
      align-items: center; } }
  .price div {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .price div {
        max-width: 30rem; } }
    .price div:not(:first-of-type), .price div:not(:last-of-type) {
      padding: 0 3rem; }
      @media only screen and (max-width: 37.5em) {
        .price div:not(:first-of-type), .price div:not(:last-of-type) {
          padding: 3rem 0; } }
    .price div:not(:last-of-type) {
      border-right: 1px solid #7a7a7a; }
      @media only screen and (max-width: 37.5em) {
        .price div:not(:last-of-type) {
          border-right: 0;
          border-bottom: 1px solid #7a7a7a; } }
  .price__subTitle {
    font-size: 1.4rem;
    color: #95a5a6; }
  .price__barra {
    margin-top: 3rem;
    width: 100%;
    height: 1.4rem;
    background-color: #ecf0f1;
    border-radius: 1rem; }
    .price__barra:after {
      content: "";
      position: absolute;
      width: 75%;
      left: 2rem;
      height: 1.4rem;
      border-radius: 1rem;
      background-color: #3cb4ac; }
