.header {
  /*max-width: 1600px;
  min-width: 500px;*/
  background-image: url(./../../assets/images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  height: 70rem;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;

  @include respond(phone) {
    background-image: url(./../../assets/images/mobile/image-header.jpg);
    background-attachment: inherit;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__arrow {
  }
}
