.nav {
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    list-style-type: none;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 2.5rem;
    }
  }
  &__link {
    font-size: 1.7rem;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    &--btn {
      font-family: "Fraunces", serif;
      font-weight: 700;
      padding: 1.3rem 3rem;
      background-color: hsl(0, 0%, 100%);
      color: #000;
      border-radius: 2rem;
      text-transform: uppercase;
    }
  }
}
