.card {
  border-radius: 8px;
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  position: relative;

  &__logo {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__top {
    margin-top: -10rem;
  }

  &__sub {
    padding: 2rem;
    border: 1px solid hsl(0, 0%, 48%);

    border-radius: 8px;

    &:not(:last-of-type){
      margin-bottom: 2rem;
    }

    &--title {
      margin-bottom: 1rem;
      p {
        font-size: 1.5rem;
        color: hsl(176, 72%, 28%);
        @include respond(phone){
          margin-top: -0.5rem;
        }
      }
    }
    &--left {
      font-size: 1.9rem;
      font-weight: 400;
      color: hsl(0, 0%, 48%);
      margin-left: 0.4rem;
    }
  }
}
