@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(135deg, white, #fff5f5);
  font-family: 'Ubuntu', sans-serif; }

body {
  line-height: 1.7; }

.heading-primary {
  color: white;
  margin-bottom: 1rem;
  display: block;
  font-size: 6rem; }

.heading-secondary {
  font-family: "Overpass", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  color: #1f3f5b;
  display: inline-block;
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.heading-tertiary {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  font-weight: 700;
  color: #1f3f5b; }

.paragraph {
  font-size: 1.6rem;
  color: #4b5862; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-mediom {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.container {
  max-width: 114rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative; }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 5rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer; }

.btn--white {
  background-color: white;
  color: #ff525d;
  border: 1px solid transparent; }
  .btn--white:hover {
    background: #ff525d;
    color: white;
    border: 1px solid white; }

.btn--red {
  background-color: #ff525d;
  color: white;
  border: 1px solid white; }
  .btn--red:hover {
    background: white;
    color: #ff525d; }

.btn--transparent {
  color: white; }

.header {
  background: #ff3d54;
  background-image: url("./../images/bg-pattern-intro.svg"), linear-gradient(to right, #ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  width: 100%;
  height: 67rem;
  border-bottom-left-radius: 12rem; }

.flexCenter {
  display: flex;
  align-items: center; }

.title {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Overpass", sans-serif;
  color: white; }
  .title h1 {
    font-size: 4rem; }
  .title h4 {
    font-size: 1.7rem;
    font-weight: 300; }
  .title__groupBtn {
    margin-top: 7rem; }

.nav {
  display: flex;
  justify-content: space-between;
  background: transparent;
  width: 100%;
  height: 11rem;
  padding: 0 10rem; }
  .nav__logo {
    margin-right: 5rem; }
  .nav__btn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 1.7rem; }
  .nav__dropdown:not(:last-of-type) {
    margin-right: 3rem; }
  .nav__dropdown--content {
    display: none; }
  .nav__dropdown--signLoging {
    display: flex;
    align-items: center; }
  .nav__login {
    margin-right: 3rem; }
  .nav__signUp {
    padding: 1rem 3rem;
    background: white;
    color: #ff525d !important;
    border-radius: 20px;
    border: 1px solid transparent; }
    .nav__signUp:hover {
      background: #ff525d;
      color: white !important;
      border: 1px solid white; }
  .nav__link:visited, .nav__link:link {
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.8rem; }

.section-introdution {
  padding: 15rem 0; }

.introdution__left {
  max-width: 50rem; }

.introdution__right {
  position: absolute;
  right: -38rem; }

.introdution__desktop {
  width: 85em; }
