body {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 700px;
  //   height: 100vh;
  //   background-color: red;
  padding: 3rem;
}

.text {
  text-align: center;

  & h1 {
    font-size: 4rem;
    font-weight: 300;
    color: hsl(0, 0%, 59%);

    @include respond(phone) {
      font-size: 3rem;
    }
    & span {
      font-weight: 700;
      color: #000;
    }
  }

  & h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: 2rem;
    }

    & span {
      color: hsl(223, 87%, 63%);
    }
  }

  & p {
    font-weight: 300;
    font-size: 1.6rem;
    margin-top: 1.5rem;

    @include respond(phone) {
      font-size: 1.1rem;
    }
  }
}

form {
  margin-top: 5rem;
  margin-bottom: 6rem;

  position: relative;
  & input {
    width: 60%;
    padding: 1.5rem 2rem;

    font-size: 1.3rem;

    border: none;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50px;

    @include respond(phone) {
      width: 100%;
      margin-bottom: 2.5rem;
    }
  }

  & button {
    background-color: hsl(223, 87%, 63%);

    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;

    width: 30%;

    padding: 1.4rem 2rem;

    border: none;
    border-radius: 50px;

    margin-left: 1rem;

    @include respond(phone) {
      width: 100%;
      margin-left: 0;
      font-size: 1.3;
    }

    &:hover {
      background-color: hsl(223, 56%, 53%);
    }
  }

  & small {
    display: none;
    position: absolute;
    left: 2.3rem;
    top: 5.45rem;

    color: hsl(354, 100%, 66%);
    font-size: 1rem;

    @include respond(phone) {
      top: 5.3rem;
    }
  }
}
//

img {
  width: 100%;
}

footer {
  margin-top: 3rem;
  & ul {
    display: flex;

    justify-content: center;
    // align-items: center;
    list-style-type: none;

    margin-bottom: 2rem;
    & li {
      &:not(:last-child) {
        margin-right: 1rem;
      }
      & a {
        text-decoration: none;

        & svg {
          border-radius: 50%;
          border: 1px solid hsl(223, 100%, 88%);
          padding: 1rem;
          width: 4.2rem;
          height: 4.2rem;
          fill: hsl(223, 87%, 63%);

          @include respond(phone) {
            width: 4rem;
            height: 4rem;
          }

          &:hover {
            fill: hsl(223, 100%, 88%);
          }
        }
      }
    }
  }

  & p {
    color: #bdc3c7;
    font-size: 1.5rem;
    font-weight: 300;
    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
}

.error {
  & input {
    border: 1px solid hsl(354, 100%, 66%);
    &::placeholder {
      color: hsl(354, 100%, 66%);
    }
  }
}
